@import '../../node_modules/antd/dist/antd.css';
@media (max-width: 767px) {
  .App{
    font-size: 6px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .App{
    font-size: 7px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .App{
    font-size: 8px;
  }
}
@media (min-width: 1200px) {
  .App{
    font-size: 10px;
  }
}
.HeaderClass{
  padding:2rem;
  background-color: rgba(20, 63, 94, 0.89);
}
.ButtonClass{
  height:3.5rem;
  font-size:1.5rem;
  font-weight: bold;
  color: rgba(20, 63, 94, 0.89);
  width: 18rem;
  box-shadow: 0 2px 5px rgba(111, 131, 146, 0.68);
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 12px;
}

.ButtonClass1{
  height:2.5rem;
  font-size:1.5rem;
  font-weight: bold;
  color: rgba(20, 63, 94, 0.89);
  width: 10rem;
  box-shadow: 0 2px 5px rgba(111, 131, 146, 0.68);
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  margin-left: 3rem;
  margin-top: 3rem;
  background-color: white;
  border-radius: 12px;
}

.ContentStyleExternal{
  font-size: 1.8rem;
  background-color: rgba(117, 182, 231, 0.45);
  border-radius: 19px;
  padding: 0.5rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
.ContentStyleInterior{
  font-size: 1.8rem;
  background-color: #ffffff;
  border-radius: 19px;
  padding: 1rem;
}
.Icons{
  font-size:3rem;
  color: rgba(20, 63, 94, 0.89);
  margin-left: 90%;
  margin-bottom:1rem;
  margin-right: 5rem;
  margin-top:2rem;

}
.IconsLoading{
  position: relative;
  font-size:3rem;
  color: rgba(20, 63, 94, 0.89);
  right: 0;
  top:2rem;
}
.NewsPage{
  background-color: rgba(117, 182, 231, 0.45);
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 2.5rem;
  font-size: 1rem;
  border-radius: 15px;
}
.CommentsPage{
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
  background-color: rgba(213, 211, 211, 0.62);
  border-radius: 5px;
  padding: 0.9rem;
}
.buttonPlus{
  background-color: white;
  height: 2rem;
  width: 3rem;
  font-size: 1rem;
  align-content: center;
}

